<!DOCTYPE html>
<html>
<head>
    <title>Retiro de Código de Rails</title>
    <script type='text/javascript' src='javascripts/jquery.js'></script>
    <script type='text/javascript' src='javascripts/jquery.presentr.js'></script>
    <script type='text/javascript' src='javascripts/d3.min.js'></script>
    <script type='text/javascript' src='javascripts/trig-d3.js'></script>
    <script type='text/javascript' src='javascripts/personalization.js'></script>
    <link rel='stylesheet' type='text/css' href='stylesheets/main.css' media='screen'/>
    <link rel='stylesheet' type='text/css' href='stylesheets/trig-d3.css' media='screen'/>
</head>
<body>

<div id='header'>
    <a href="/slide1"><h2 id='name'>Retiro de Código</h2></a>
    <h3 id='title'>Aprendiendo Rails en conjunto</h3>
    <div id='author'>Bases</div>
    <div id='links'>
      <a href='/slide6' title='MVC'>MVC</a> | 
      <a href='/slide7' title='REST'>REST</a> |
      <a href='/slide8' title='Convention over configuration y DRY'>Convention over configuration y DRY</a> |
      <a href='/slide11' title="Don't reinvent the wheel">Don't reinvent the wheel</a> 
    </div>
</div>

<div id='slideinfo'></div>

<div id='slides'>

<div class='slide'>
    <h1 class="huge_title">Retiro de Código para aprender Rails</h1>
    <p class="colaborators">Organizado por Elías Matheus, Laura Gomez, Ivan Acosta Rubio y Osledy Bazo.</p>
</div>

<div class='slide'>
    <h1>¿Qué es un retiro de código?</h1>
    <div style="text-align:center"><img src="http://media.tumblr.com/tumblr_lwkv6yZ5mo1qkevvd.jpg"/></div>
</div>

<div class='slide'>
    <h1>¿Qué es Rails?</h1>
    <p>Es un framework de desarrollo web open source escrito en Ruby que fue liberado al público en el 2004.</p>
    <p id="misconception">Te permite desarrollar de una manera rápida y divertida.</p>
    <p id="principles" class="hidden">Esta construido con principios de programación innovadores lo cual te facilita mucho la programación.</p>
    <p id="idea" class="hidden">Al olvidarte de los problemas de configuración y de las limitaciones que te ofrece el lenguaje, te puedes 
    enfocar en la idea y en el usuario.</p>
</div>

<div class='slide'>
    <h1>Rails es un software con Opinión</h1>
    <div style="text-align:center;"><iframe width="560" height="315" src="http://www.youtube.com/embed/cGdCI2HhfAU#t=36m00s" frameborder="0" allowfullscreen></iframe></div>
</div>

<div class='slide'>
    <h1>Y bueno, antes de comenzar...</h1>
    <p>Tomamos una decisión peculiar en este retiro de código.</p>
    <ul>
      <li id='bulletPoint1' class='slide3elements'>Rails es <strong>Ágil</strong>.</li>
      <li id='bulletPoint2' class='slide3elements'>Rails es <strong>Open Source</strong>.</li>
      <li id='bulletPoint3' class='slide3elements'>Rails son <strong>Startups</strong>.</li>
    </ul>
</div>

<div class='slide'>
    <h1>Aprender haciendo</h1>
    <p>Entren a <a target="blank" href="http://railsforzombies.org">Rails for Zombies</a> y registren su cuenta.</p>
    <p>Los que quieran ver el tutorial doblado al español, existe una opción abajo a la izquierda antes de ver cada video.</p>
    <p>Revisen los <strong>challenges</strong>, pregúntense si los saben hacer, pero no tienen por que hacerlo.</p>
</div>

<div class='slide'>
    <h1 class="huge_title">Aprendamos REST</h1>
</div>

<div class='slide'>
    <h1>La clave de éxito de un curso es buena bibliografía.</h1>
    <p>Descargar el libro <a href="http://depositfiles.com/files/xjzpnl5x7">"Agile Web Development with Rails" cuarta edición</a>.</p>
    <p>Realicen el tutorial presentado en el capítulo "Building an application". En específico, las partes A, B y C.</p>
    <p class="warning">No tomar en cuenta validaciones por ahora.</p>
</div>

<div class='slide'>
    <h1 class="huge_title">Aprendamos Behaviour Driven Development</h1>
</div>

<div class='slide'>
    <h1>Paréntesis de Metodologías Ágiles</h1>
    <p> Si suponemos que te estuvieran pagando por construir Depot, ¿cómo se vería el proyecto en <strong>Pivotal Tracker</strong>? Haz click en el boton rojo para averiguarlo.</p>
    <a class="important_url" href="https://www.pivotaltracker.com/projects/448449" target="blank"><img src="images/pivotal_tracker.png"/></a>
</div>

<div class='slide'>
    <h1>La importancia de una comunidad</h1>
    <p>Vamos a agregarle autenticación a Depot. Para eso haremos uso de la gema de <strong>Devise</strong>. Revisemos una fuente de recursos para agregar funcionalidades en Rails:</p>
    <a class="important_url" href="http://www.railscasts.com/episodes/209-introducing-devise" target="blank"><img src="images/railscasts.png"/></a>
</div>

<div class='slide'>
    <h1 class="huge_title">CONCLUSIONES</h1>
</div>

<div class='slide'>
    <h1>Recursos</h1>
    <ul>
      <li><a target="blank" href="http://tryruby.org">TryRuby!</a></li>
      <li><a target="blank" href="http://rubykoans.com/">Ruby Koans</a></li>
      <li><a target="blank" href="http://railscasts.com">Railscasts de Ryan Bates</a></li>
      <li><a target="blank" href="http://guides.rubyonrails.org">Documentación de Ruby on Rails</a></li>
      <li><a target="blank" href="http://api.rubyonrails.com">API Ruby on Rails</a></li>
      <li><a target="blank" href="http://gettingreal.37signals.com/toc.php">Getting Real</a></li>
    </ul>
</div>

</body>
</html>
